extends ./navBar.jade

block content
  .ui.masthead
  .ui.grid.centered
    h1 购物车列表
    .ten.wide.column
      table.ui.large.table
        thead
          th.two.wide 图片
          th.two.wide 名称
          th.two.wide 价格
          th.two.wide 数量
          th.two.wide 小计
          th.four.wide 删除
        tbody.center
          - each cartItem in cartItems
            tr
              td
                image.ui.fluid.image(src="image/kele.jpg" style="height=20%,weight=20%")
              td #{cartItem.item.name}
              td #{cartItem.item.price}元
              td #{cartItem.number} #{cartItem.item.unit}
              td #{cartItem.subtotal}元
              td(id ="#{cartItem._id}")
                div.ui.red.button 删除
       a.ui.teal.right.floated.right.labeled.icon.button 结算
        i.right.arrow.icon


