extends ./navBar.jade

block content
    .ui.masthead
    .ui.grid.centered
      h1 购物车列表
      .thirteen.wide.column
        div(class="ui five column doubling ui grid")
            div(class="column") 图片
            div(class="column") 名称
            div(class="column") 价格
            div(class="column") 数量
            div(class="column") 小计
            div(class="column") 删除

        - each cartItem in cartItems
          div(class="ui five column doubling ui grid")
            div(class="column")
              img.image(src="image/kele.jpg" style="width:100px;height:100px;")
            div(class="column") #{cartItem.item.name}
            div(class="column") #{cartItem.item.price}元
            div(class="column") #{cartItem.number}#{cartItem.item.unit}
            div(class="column") #{cartItem.subtotal}
            div(class="column")



