extends ./navBar.jade
block css
  script(src="jspm_packages/system.js")
  script(src="config.js")
  script.
    System.import('js/cart')
  link(rel="stylesheet" type="text/css" href="/jspm_packages/github/Semantic-Org/Semantic-UI@1.11.6/dist/semantic.css")
block title
  title 我的购物车
block content
  .ui.masthead
    .ui.grid.centered
      h1.ui.header
        img(src="image/cart.png")
        .content 购物车列表
      .fourteen.wide.column
        table.ui.large.table.center
          thead.center
            th.two.wide 图片
            th.three.wide 名称
            th.two.wide 价格
            th.three.wide 数量
            th.two.wide 小计
            th.two.wide
            //th.two.wide
            //  input#allChecked(type="checkbox" name="checkedAllCartItem" checked)
            //  span 全选
          tbody.center
            - each cartItem in cartItems
              tr(data-id="#{cartItem._id}")
                td
                  a(href='/itemDetails/#{cartItem.item.id}')
                    image.ui.fluid.image(src="#{cartItem.item.image}" href='/itemDetails/#{cartItem.item.id}')
                td
                  a.itemName(data-content="#{cartItem.item.name}" href='/itemDetails/#{cartItem.item.id}') #{cartItem.item.shortName}
                td
                  span#price #{cartItem.item.price}
                  span 元
                td
                  div
                    i.minus.square.icon(style='cursor:pointer')
                    input(type="text" value="#{cartItem.number}" id="number" style="text-align:center; height: 20%; width:40%")
                    i.add.square.icon(style='cursor:pointer')
                  div.ui.negative.message#inventory(style="display: none;") 最多能购买
                    span#leftNumber #{cartItem.item.inventory}
                    span 件
                 // .ui.negative.message#inventory(style = 'display: none') 库存仅剩#{cartItem.item.inventory}!

                td
                  span#subtotal #{cartItem.getSubtotal()}
                  span 元
                td(id ="#{cartItem._id}")
                  .ui.red.button.delete_cartItem 删除
                //td
                //  input.checkedCartItem(type="checkbox" name="checkedCartItem" checked)

          tfoot.right
            tr
             th(colspan='7')
              div.ui.right.floated.small.primary.labeled.header
                h4.ui.orange.header 总计：
                  span#total #{total}
                  span 元

         a.ui.teal.right.floated.right.labeled.icon.button(href='/indent') 结算
          i.right.arrow.icon
      .ui.first.coupled.small.modal.transition
        .content
          .description
            p 您确认要删除吗？
        .actions
          .primary.ui.button.no 取消

          a.ui.positive.right.labeled.icon.button.yes#yes 删除
            i.checkmark.icon



