extends layout
block css
  link(rel="styleSheet" type="text/css" href="/style/cart.css")
block script
  script.
    System.import('js/cart');
block title
  title 我的购物车
block content
  .ui.grid.centered
    .sixteen.wide.column
      h1.ui.header.centered
        .content
          i.icon.cart
          .content 购物车列表
    .sixteen.wide.column
      table.ui.large.table
        thead.center
          th.two.wide 图片
          th.three.wide 名称
          th.two.wide 价格
          th.three.wide 数量
          th.two.wide 小计
          th.two.wide
          th.two.wide
            input#allChecked(type="checkbox" name="checkedAllCartItem" checked)
            span 全选
        tbody.center
          tr
            td.ui.teal.message.delete-message.hidden(colspan='6') 删除成功

          - each cartItem in cartItems
            tr(data-id="#{cartItem._id}")
              td
                a(href='/items/#{cartItem.item.id}')
                  img.ui.fluid.image.size(src="#{cartItem.item.image}")
              td
                a.itemName(data-content="#{cartItem.item.name}" href='/items/#{cartItem.item.id}') #{cartItem.item.shortName}
              td
                span#price #{cartItem.item.price}
                span 元
              td
                .ui
                  i.minus.square.icon.pointer.reduce
                  input.number#input-number(type="text" value="#{cartItem.number}")
                  i.add.square.icon.pointer.increase
                .ui.negative.message.hidden.inventory 最多能购买
                  span.leftNumber #{cartItem.item.inventory}
                  span 件

              td
                span.subtotal #{cartItem.getSubtotal()}
                span 元
              td(id ="#{cartItem._id}")
                .ui.red.button.delete_cartItem 删除
              td
                input.checkedCartItem(id="#{cartItem._id}" type="checkbox" name="checkedCartItem" checked)

        tfoot.right
          tr
            th(colspan='7')
              .ui.right.floated.small.primary.labeled.header
                h4.ui.black.header 总计：
                  span.total#total #{total}
                  span 元
      a.ui.teal.right.floated.right.labeled.icon.button#indent 结算
        i.right.arrow.icon
    .ui.first.coupled.small.modal.transition.delete-modal
      .content
        .description
          p 您确认要删除吗？
      .actions
        .primary.ui.button.no 取消
        a.ui.positive.right.labeled.icon.button.yes#yes 删除
          i.checkmark.icon
