extends ./navBar.jade

block title
  //titel 购物车页面
block css
  script(src="jspm_packages/system.js")
  script(src="config.js")
  script.
    System.import('semantic-ui')
    System.import('jquery/jquery')
    System.import('js/cart')
  link(rel="stylesheet" type="text/css" href="jspm_packages/github/Semantic-Org/Semantic-UI@1.11.5/dist/semantic.css")

block content
  .ui.masthead
  .ui.grid.centered
    h1 购物车列表
    .nine.wide.column
      table.ui.large.table
        thead.center
          th.two.wide 图片
          th.two.wide 名称
          th.two.wide 价格
          th.two.wide 数量
          th.two.wide 小计
          th.four.wide
        tbody.center
          - each cartItem in cartItems
            tr
              td
                image.ui.fluid.image(src="#{cartItem.item.imageUrl}" style="height=20%,weight=20%")
              td #{cartItem.item.name}
              td #{cartItem.item.price}元
              td #{cartItem.number} #{cartItem.item.unit}
              td #{cartItem.subtotal}元
              td(id ="#{cartItem._id}")
                div.ui.red.button.delete_cartItem 删除
        tfoot.full-width
          th(colspan = '5')
            div.ui.right.floated 总计：#{cart.totalAmount}
            //.ui.teal.right.floated.right.labeled 总计：#{cart.totalAmount}
       a.ui.teal.right.floated.right.labeled.icon.button 结算
        i.right.arrow.icon


