extends adminLayout

block script
  script(type="text/javascript").
    var application = application || {};
    application.index = application.index || {};
    application.index.pageCount = #{pageCount};
    application.index.currentPage = #{currentPage};
  script.
    System.import('js/categoriesManagement');
block title
  title 分类管理列表
block categories-management
  a.ui.link.item.active(href="/admin/categoriesManagement") 分类管理
block content
  .ui.grid.centered
    .sixteen.wide.column
      h1.ui.header.centered
        .content
          i.icon.browser
          .content 分类管理列表
    .thirteen.wide.column
      a.ui.green.button(href="/admin/categoriesManagement/addCategory") + 添 加 新 分 类
  .ui.grid.centered
    .three.wide.column
      .ui.fluid.vertical.steps
        .step
          .content
            .title 商品服务分类
        .step.active#main-category-step
          .content
            a.title.category-title 一级分类
        .step#sub-category-step
          .content
            a.title.category-title 二级分类
    .one.wide.column &nbsp;
    .nine.wide.column
      .ui.grid.category-grid#main-category-list
        .sixteen.wide.column
          table.ui.table
            thead
              tr
                th
                  span 类名
                th
                  span 操作
                th
            - each mainCategory in mainCategories
              tbody
                tr
                  td
                    spantd.category-name(data-content="#{mainCategory.name}") #{mainCategory.shortName}
                  td
                    a.ui.positive.reset.button.modify-button(href="/admin/categoriesManagement/modifyCategory/#{mainCategory._id}") 修改
                    .ui.negative.submit.button.delete-button(data-id="#{mainCategory._id}") 删除
      .ui.grid.category-grid#sub-category-list
        .sixteen.wide.column
          table.ui.table
            thead
              tr
                th
                  span 类名
                th
                  span 所属主分类
                th
                  span 操作
                th
            - each subCategory in subCategories
              tbody
                tr
                  td
                    spantd.category-name(data-content="#{subCategory.name}") #{subCategory.shortName}
                  td
                    span #{subCategory.parent.name}
                  td
                    a.ui.positive.reset.button.modify-button(href="/admin/categoriesManagement/modifyCategory/#{subCategory._id}") 修改
                    .ui.negative.submit.button.delete-button(data-id="#{subCategory._id}") 删除
           .pagination#sub-category-pagination
