doctype html
html
  head
    - var name = '来此购网上购物商城'
    title= name
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")
    link(rel="stylesheet" type="text/css" href="github/Semantic-Org/Semantic-UI@1.11.5/dist/semantic.css")
    link(rel="stylesheet" type="text/css" href="style/homepage.css")
    link(rel="styleSheet" type="text/css" href="style/home.css")

    //script(src="github/Semantic-UI@1.11.5/dist/semantic.js")
    script(src="jspm_packages/system.js")
    script(src="config.js")
    script.
      System.import('js/homePage')
    script.
      System.import('js/pageApp')
  body#home
    header
      div.topmenu
        ul.menu
          li
            em.
              Hi，欢迎来到Let Us Go商城
            a.topbutton(href="#") 请登录
            a.topbutton(href="#") 免费注册
          li
            a.topbutton.right(href="#") 我的Let Us Go
    div.container
      div.searchcontainer
        div.mylogo
          img(src= "image/logo.png")
        div.search
          div.ui.fluid.action.input
            input.topsearch(type="text" placeholder="Search...")
            button.ui.icon.button
              i.search.icon
      div.ui.grid
        div.four.wide.column
          div.ui.secondary.vertical.menu
            div.ui.dropdown.item#categoryTitle 商品服务分类
            - each category in categories
              div.ui.dropdown.item #{category.name}
                i.dropdown.icon
                div.menu
                  - each subCategory in category.subCategories
                    a.item #{subCategory.name}
        div.twelve.wide.column
          div.ui.four.column.grid(style="padding-left: 0;padding-right: 20px;")
            each a in [1,2,3,4,5,6]
              div.column
                div.ui.segment
                  img.ui.fluid.image(id="#{a}" src="image/cat2.png")
                div.info
                  div.name #{a}
                  p.price 22222
          div.pagination(style="padding-left: 500px;padding-top: 30px;")
