extends layout
block css
  link(rel="styleSheet" type="text/css" href="/style/cart.css")
block script
  script.
    System.import("js/indent");
block title
  title 支付订单
block content
  .ui.grid
    .sixteen.wide.column
      h1.ui.header.centered
        .content
          i.icon.browser
          .content 商品清单
    .fourteen.wide.column.centered
      table.ui.large.table
        thead
          tr
          th.two.wide.column 图片
          th.three.wide.column 名称
          th.two.wide.column 单价
          th.two.wide.column 单位
          th.two.wide.column 数量
          th.three.wide.column 小计
        tbody
          -each cartItem in cartItems
            tr
              td
                a(href='/items/#{cartItem.item.id}')
                  img.ui.fluid.image.size(src="#{cartItem.item.image}")
              td
                a.itemName(data-content="#{cartItem.item.name}" href="/items/#{cartItem.item.id}") #{cartItem.item.shortName}
              td #{cartItem.item.price} 元
              td #{cartItem.item.unit}
              td #{cartItem.number}
              td #{cartItem.getSubtotal()} 元
        tfoot.right
          tr
            th(colspan='7')
              .ui.right.floated.small.primary.labeled.header
                h4.ui.black.header 总计：
                  span.total#total #{total}
                  span 元

      a.ui.red.right.floated.right.labeled.icon.button#pay 支付
        i.right.arrow.icon
        span.ui.hidden#shortedCartItemName #{shortedCartItemName}
    .ui.first.coupled.small.modal.transition.confirmPay
      i.icon.close
      .content
        .description
          p 您确认要支付吗？
      .actions
        .ui.primary.close.cancel.button.nopay 取消
        a.ui.positive.right.labeled.icon.button#isPaid(data-total= total, data-cart = cartItems, data-indentId = indent._id ) 支付
          i.right.arrow.icon
    .ui.second.small.coupled.modal.transition.hidden
      .header 支付失败
      .content
        .description
          .p#modalTips 库存不足
      .actions
        a.primary.ui.button.confirm(href='/cart') 确定
