extends ./navBar.jade

block css
  script(src="jspm_packages/system.js")
  script(src="config.js")
  link(rel="stylesheet" type="text/css" href="/jspm_packages/github/Semantic-Org/Semantic-UI@1.11.6/dist/semantic.css")
  script.
    System.import('js/indent')

block title
  title 支付订单

block content
  .ui.grid
    .sixteen.wide.column
    .sixteen.wide.column
      h1.ui.header.centered
        .content
         i.icon.browser
         .content 商品清单
    .twelve.wide.column.centered
      table.ui.large.table
        thead
          tr
          th.two.wide.column(style="text-align: center") 图片
          th.two.wide.column(style="text-align: center") 名称
          th.two.wide.column(style="text-align: center") 单价
          th.two.wide.column(style="text-align: center") 单位
          th.two.wide.column(style="text-align: center") 数量
          th.two.wide.column(style="text-align: center") 小计

        tbody.centered
          -each cartItem in cartItems
             tr
               td(style="text-align: center")
                img(src="#{cartItem.item.image}",width='70px',height='70px')
               td(style="text-align: center") #{cartItem.item.name}
               td(style="text-align: center") #{cartItem.item.price} 元
               td(style="text-align: center") #{cartItem.item.unit}
               td(style="text-align: center") #{cartItem.number}
               td(style="text-align: center") #{cartItem.getSubtotal()} 元

      h2(align="right") 总计：
        span(style='color:red') #{total}
        span 元
      a.ui.red.right.floated.right.labeled.icon.button#pay 支付
        i.right.arrow.icon

    .ui.first.coupled.small.modal.transition
      .content
        .description
          p 您确认要支付吗？
      .actions
        .primary.ui.button.nopay 取消
        a.ui.positive.right.labeled.icon.button#isPaid(data-total= total, data-cart = cartItems, data-indentId = indent._id ) 支付
          i.checkmark.icon

    //.ui.second.small.coupled.modal.transition.hidden
    //  .content
    //    .description
    //      p 我是第二个模态框
    //  .actions
    //    .primary.ui.button.confirm 确定
