doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")
    block css
      script(src="jspm_packages/system.js")
      script(src="config.js")
      script.
        System.import('js/modal')
      link(rel="stylesheet" type="text/css" href="../jspm_packages/github/Semantic-Org/Semantic-UI@1.11.5/dist/semantic.css")

    block title
      title 首页
  body
    .container
    .ui.inverted.masthead.segment
      .row
        .sixteen.wide.column
          .ui.inverted.teal.menu
            .left.menu
              a.ui.item LetUsGo
              block home
                a#homeLink.ui.link.item(href="/") 主页
                i.home.icon
              block shop
                a.ui.link.item(href="shop") 商城
              block management
                a.ui.link.item(href="shopManagement") 商城管理
            .right.menu
              block cart
                a.ui.link.item(href="cart") 购物车
                  i.cart.in.icon
    block content
    .ui.grid
      .ten.wide.column.centered
        h1 商品清单
      .twelve.wide.centered.column
        table.ui.large.table
          thead
            tr
            th.two.wide 图片
            th.two.wide 名称
            th.two.wide 单价
            th.two.wide 单位
            th.two.wide 数量
            th.two.wide 小计

          tbody.center
          -each indent in Indents
                     tr
                       td
                        img(src="#{indent.item.imageUrl}",width='70px',height='70px')
                       td #{indent.item.name}
                       td #{indent.item.price} 元
                       td #{indent.item.unit}
                       td #{indent.number}
                       td #{indent.subtotal} 元

        h2(align="right") 总计：
          span(style='color:red') #{amount}
          span 元
        a.ui.red.right.floated.right.labeled.icon.button#pay 支付
          i.right.arrow.icon

      .ui.first.coupled.small.modal.transition
        .content
          .description
            p 您确认要支付吗？
        .actions
          .primary.ui.button.nopay 取消
          a.ui.positive.right.labeled.icon.button.ispay(href="/success") 支付
            i.checkmark.icon

      //.ui.second.small.coupled.modal.transition.hidden
      //  .content
      //    .description
      //      p 我是第二个模态框
      //  .actions
      //    .primary.ui.button.confirm 确定
