doctype html
html
  head
    - var name = '来此购网上购物商城'
    title= name
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")
    link(rel="stylesheet" type="text/css" href="/github/Semantic-Org/Semantic-UI@1.11.6/dist/semantic.css")
    link(rel="stylesheet" type="text/css" href="/style/homepage.css")
    link(rel="styleSheet" type="text/css" href="/style/home.css")
    script(type="text/javascript").
      var application = application || {};
      application.index = application.index ||{};
      application.index.pageCount = #{pageCount};
      application.index.currentPage = #{currentPage};
      application.index.isCategory = #{isCategory};
    script(src="/jspm_packages/system.js")
    script(src="/config.js")
    script.
      System.import('js/index');
  body#home
    header
      .topmenu
        ul.menu
          li
            em.
              Hi，欢迎来到Let Us Go商城
            a.topbutton(href="#") 请登录
            a.topbutton(href="#") 免费注册
          li
            a.topbutton.right(href="#") 我的Let Us Go
    .container
      .searchcontainer
        .mylogo
          img(src= "/image/logo.png")
        .search
          .ui.fluid.action.input
            input.topsearch(type="text" placeholder="Search...")
            button.ui.icon.button
              i.search.icon
      .ui.grid
        .four.wide.column
          .ui.secondary.vertical.menu
            .ui.dropdown.item#categoryTitle 商品服务分类
            - each mainCategory in mainCategories
              .ui.dropdown.item.firstMenu(data-id="#{mainCategory.id}") #{mainCategory.name}
                i.dropdown.icon
                .menu
                  - each subCategory in mainCategory.subCategories
                    a.item.secondMenu(data-id="#{subCategory._id}" href="/categoryView/#{subCategory._id}") #{subCategory.name}
        .twelve.wide.column
          .ui.four.column.grid
            - each item in items
              .column
                .ui.segment
                  img.ui.fluid.image(data-id="#{item._id}" src="/#{item.image}")
                .info
                  .name #{item.name}
                  p.price #{item.price}元
          .pagination
