extends ./navBar.jade
block title
  title 商品详情页
block css
  script(src="jspm_packages/system.js")
  script(src="config.js")
  script.
    System.import('js/itemDetails')
block content
  .ui.centered.segment
    .ui.grid.centered
      .sixteen.wide.column
        .ui.large.breadcrumb
          a.section#parent #{itemDetails.category.parent.name}
          i.right.chevron.icon.ider
          a.section#child #{itemDetails.item.category.name}
          i.right.chevron.icon.ider
          .active.section #{itemDetails.item.name}

      .ui.grid.nine.wide.column.centered
        .nine.wide.column
          - var imageUrl = itemDetails.item.imageUrl
          img.ui.vertical.big.bordered.centered.image(src = imageUrl)

        .seven.wide.column
          h2.ui.floated.header.orange.backge #{itemDetails.item.name}
          table.ui.definition.table
            tbody
              tr
                td.five.wide.column 单价
                td #{itemDetails.item.price}
              tr
                td 单位
                td #{itemDetails.item.unit}
              tr
                td 规格
                td #{itemDetails.item.specification}
              tr
                td 数量
                td
                  i.minus.square.icon
                  input(type="text" value=1 id="numberInput" style="text-align:center; width:20%")
                  i.add.square.icon
                  .ui.negative.message#inputError(style = 'display: none') 您所填写的数量超过库存!
              tr
                td 库存
                td#leftNumber #{itemDetails.item.leftNumber}
          button.ui.primary.button
            i.cart.in.icon
            span 添加到购物车
            i.right.chevron.icon
      .ui.grid.centered
        .nine.wide.column
          .ui.message
            .header
              商品详情：
            p #{itemDetails.item.description}
