extends managementLayout

block css
  link(rel="styleSheet" type="text/css" href="/style/cart.css")
block script
  script.
    System.import('js/itemsManagement');
block title
  title 商品管理列表

block content
  .ui.grid.centered
    .sixteen.wide.column
      h1.ui.header.centered
        .content
          i.icon.cart
          .content 商品管理列表
    .fourteen.wide.column
      table.ui.large.table
        thead.center
          th.three.wide 名称
          th.two.wide 单位
          th.two.wide 数量
          th.two.wide 价格
          th.two.wide 图片
          th.two.wide 修改
          th.two.wide 删除
        tbody.center
          tr
            td.ui.teal.message.delete-message.hidden(colspan='7') 删除成功

          - each item in items
            tr(data-id="#{item._id}")
              td.itemName(data-content="#{item.name}") #{item.shortName}
              td #{item.unit}
              td #{item.inventory}
              td #{item.price}
              td
                img.ui.fluid.image.size(src="#{item.image}")
              td
                .ui.red.button 删除
              td
                a.ui.green.button(href="/itemsMangement/#{item._id}")  修改
