extends adminLayout
block script
  script.
    System.import('js/userModify');
block title
  title 用户信息修改页面
block users-management
  a.ui.link.item.active(href="/admin/usersManagement") 用户管理
block content
  .ui.grid(class="ui grid")
    .eight.wide.centered.column
      .ui.negative.message#emptyError(style='display: none')
        i.close.icon
        .header 请输入完整的必填信息
      .ui.negative.message#inputError(style='display: none')
        i.close.icon
        .header 请输入正确的信息格式
      .ui.form.red.segment
        .ui.grid
          .eight.wide.centered.column
            label 用户名:
              div.ui.input.error
                input#userName(placeholder='请输入用户名称', type='text', value='#{data.name}')
          .eight.wide.centered.column
            label 密码:
              div.ui.input.error
                input#userPassword(placeholder='请输入密码', type='text', value='#{data.password}')
          .eight.wide.centered.column
            label 地址:
              div.ui.input.error
                input#userAddress(placeholder='请输入地址', type='text', value='#{data.address}')
          .eight.wide.centered.column
            label 邮箱:
              div.ui.input.error
                input#userEmail(placeholder='请输入邮箱', type='text', value='#{data.email}')
          .eight.wide.centered.column
              label 电话:
                div.ui.input.error
                  input#userPhoneNumber(placeholder='请输入电话', type='text', value='#{data.phoneNumber}')
          .eight.wide.centered.column
            label 邮箱是否激活(true OR false):
              div.ui.input.error
                input#userActiveMessage(placeholder='请输入邮箱是否激活', type='text', value='#{data.active}')
          .three.wide.centered.column
            a.ui.green.submit.button.save(id="#{data._id}") 保存
